*{
    margin: 0px;
    padding: 0px;
    font-style: italic;

}
body{
    background:linear-gradient(1350deg,rgb(16, 16, 19),grey);
    /* background-color: black; */
    z-index: -1;
}
.container{
    width: 90%;
    max-width: 470px;
    background:linear-gradient(135deg, rgb(135, 13, 13),rgb(238, 238, 198));
    color: #fff;
    margin: 30px auto 0;
    padding: 30px 25px;
    text-align: center;
    border-radius: 20px;

}
 .search button{
    height: 44px;
    width: 54px;
    border-radius: 20px;
    text-align: center;
}
 button img{
    height: 34px;
    width: 44px;
    border-radius: 50px;
} 

.search input{
    width: 210px;
    height: 50px;
    border-radius: 20px;

} 
.search{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}
.we img{
    width: 145px;
    height: 115px;
    border-radius: 20px;
    margin-top: 14px;
}
.temp{
    font-size: 80px;
    font-weight: 400;
}
.city{
    font-size: 60px;
    font-weight: 400;
}
/* .we h2{
    font-size: 60px;
    font-weight: 200;
    margin-top: -10px; */
/* } */
.detail{
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 35px;
    justify-content: space-between;
}
.humidity{
    font-size: 50px;
    font-weight: 200;
    margin-top: -10px;
    color: dimgray;

}
.wind{
    font-size: 50px;
    font-weight: 200;
    margin-top: -10px;
    color: dimgray;
}
.search input{
    font-size: large;
}